@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>
    .page {
        min-height: 100vh;
        background-color: #000000;
    }

    .content {
        height: 100%;
    }
</style>